h1{
    text-align: center;
    font-size: 90px;
    margin-top: 230px;
}
h1 span:nth-child(1) {
    color: #4285f5;
  }
h1 span:nth-child(2) {
    color: #ea4335;
  }
h1 span:nth-child(3) {
    color: #f7bb44;
  }    
h1 span:nth-child(4) {
    color: #4285f5;
  } 
h1 span:nth-child(5) {
    color: #4ca953;
  }
h1 span:nth-child(6) {
    color: #ea4335;
  }
